

.dungeons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.dungeon-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.dungeon-image {
    width: 50%;
    height: 100px;
    border-radius: 10px;
}

.dungeon-info {
    display: block;
    flex-direction: column;
    justify-content: center;
}

.rewards-btn, .start-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.rewards-btn:hover, .start-btn:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: left;
}

.modal-content h3 {
    margin-top: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

.tabs-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
}

.tab-button {
    flex-grow: 1; /* Faz com que cada botão ocupe espaço proporcional */
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    text-align: center; /* Centraliza o texto */
    cursor: pointer;
    max-width: 100%; /* Limita a largura para evitar ultrapassar os limites */
    margin: 0 5px; /* Adiciona espaço entre os botões */
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #007bff; /* Cor ativa ao clicar */
    color: white; /* Altera a cor do texto */
    border: 1px solid #007bff; /* Altera a cor da borda */
}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content th, .modal-content td {
    padding: 15px; /* Adiciona espaço dentro das células */
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.modal-content th {
    background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
}

.modal-content td {
    padding-left: 20px; /* Adiciona mais espaço à esquerda das células */
}