body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: space-between; /* Ajuste para melhor espaçamento */
            flex-wrap: wrap; /* Faz com que os cards se empilhem se não houver espaço */
            padding: 2rem;
        }

        /* Estilização dos cards */
        .card {
            flex: 1 1 40%; /* Cards ocupam até 45% do container */
            max-width: 40%; /* Define uma largura máxima para os cards */
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 12px;
            margin: 12px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            text-align: center;
        }

        /* Estilização da imagem do Digimon */
        .card img {
            border-radius: 8px;
            width: 150px;
            height: 150px;
            margin-bottom: 12px;
        }

        /* Título do card */
        .card-title {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 8px;
        }

        /* Título do card */
        .card-title-name-desafiante {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 8px;
            color:#4cae4c;
        }

        /* Título do card */
        .card-title-name-defensor {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 8px;
            color:#f56565;
        }

        /* Estilização dos textos de atributos */
        .card p {
            font-size: 0.9em;
            margin: 6px 0;
            padding: 4px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        /* Botão de ação */
        .card-btn {
            margin-top: 8px;
            padding: 10px 15px;
            background-color: #4cae4c;
            color: #fff;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
        }

        .card-btn-sacrificar {
            margin-top: 8px;
            padding: 10px 15px;
            background-color: #f56565;
            color: #fff;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
        }

        /* Hover */
        .card:hover {
            transform: scale(1.05);
        }

        .card-btn:hover {
            background-color: #45a049;
        }

        .card-btn-sacrificar:hover {
            background-color: #f72c2c;
        }

        /* Estilo da caixa de log */
        .log-box {
            width: 80%;
            margin: 20px auto;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            min-height: 100px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 0.9em;
            height: 150px;
            overflow-y: scroll;
        }

        .log-box p {
            margin: 5px 0;
        }

        #caixa_informacoes_dungeon_combate {
            border: 5px solid #ccc;
            padding: 10px;
            margin: 10px;
            background-color: #f9f9f9;
            border-radius: 20px;
            margin-left: 30px;
        
            display: flex; /* Adiciona Flexbox */
            justify-content: space-around; /* Espaçamento entre os cards */
            align-items: flex-start; /* Alinha os cards ao topo */
            flex-wrap: wrap; /* Cards podem se empilhar em telas pequenas */
            gap: 20px; /* Espaçamento entre os cards */
        }
       
        #caixa_informacoes_dungeon_combate h3 {
            margin-top: 0;
        }
       
        #caixa_informacoes_dungeon_combate h3 {
            margin-top: 0;
        }