.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card-header {
    background-color: #f8f9fa;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding-top: 50px; /* Ajuste o valor conforme necessário */
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.col-xxl-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}

@media (max-width: 767px) {

    .col-md-4,
    .col-xxl-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 575px) {

    .col-6,
    .col-md-4,
    .col-xxl-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.btn-confirm {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-confirm:hover {
    background-color: #0056b3;
}

.btn-confirm:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.background {
    background-image: url(../imagens/fundoLogin.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mantém a imagem de fundo atrás de outros elementos */
    opacity: 0.4;
}
/* Estilos para o modal */
.modal {
    display: none;
    /* Ocultar por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    /* Limitar largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    position: relative;
}

/* Fechar o botão */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o modal de apelido */
.nickname-modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro semitransparente */
}

.nickname-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.close-nickname-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-nickname-modal:hover,
.close-nickname-modal:focus {
    color: black;
}

#nicknameInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#confirmNicknameBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#confirmNicknameBtn:hover {
    background-color: #45a049;
}

.custom-alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-alert-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-alert-message {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.custom-alert-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-alert-button:hover {
    background-color: #45a049;
}