body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 1rem;
}

.header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.header h1 {
    margin: 0;
}

.header .logout-btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.header .logout-btn:hover {
    background: #c82333;
}

/*
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
}
    */

/* Estilização geral do container dos cards */
#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}

/* Estilização dos cards */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 250px;
    text-align: center;
}

/* Estilização da imagem do Digimon */
.card img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
}

/* Título do card */
.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 12px;
}

/* Estilização dos textos de atributos */
.card p {
    font-size: 1em;
    margin: 8px 0;
    padding: 6px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Botão de ação */
.card-btn {
    margin-top: 12px;
    padding: 15px 20px;
    background-color: #4cae4c;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-btn:hover {
    background-color: #45a049;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 1rem); /* Em telas menores, os cards ocuparão 50% do espaço */
    }
}

@media (max-width: 480px) {
    .card {
        flex-basis: 100%; /* Em telas pequenas, os cards ocuparão 100% do espaço */
    }
}

/* Estilização individual dos atributos */
.card p::before {
    font-family: 'Font Awesome 5 Free';
    margin-right: 8px;
    font-weight: 900; /* Necessário para exibir os ícones da Font Awesome */
}

/* Ícones dos atributos - nao funcionou */
/*
.card p:nth-child(2)::before { content: "\f0e7"; } Energia - Ícone de raio 
.card p:nth-child(3)::before { content: "\f004"; } Vida - Ícone de coração 
.card p:nth-child(4)::before { content: "\f091"; } Nível - Ícone de troféu 
.card p:nth-child(5)::before { content: "\f0d6"; } Bits - Ícone de moeda 
*/
